/* purgecss start ignore */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* purgecss end ignore */

html,
body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	color: #202020;
}
